<div class = "container">
  <div class="row">
    <div class="col-md-2" ></div>
    <div class="col-md-8" >
      <div class="card" id="new_shop_card">
        <%= form_with(model: @shop, local: true) do |form| %>
        <% if @shop.errors.any? %>
        <div class="alert alert-warning">
          <ul>
            <% @shop.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
        <% end %>

        <div class="new-shop-field">
          <%= form.label :name, class:"required" %>
          <%= form.text_field :name, class: "form-control" %>
        </div>

        <div class="new-shop-field">
          <%= form.label :brand %>
          <%= form.text_field :brand, class: "form-control" %>
        </div>

        <div class="new-shop-field">
          <%= form.label :address, class:"required" %>
          <%= form.text_area :address, class: "form-control" %>
        </div>

        <div class="new-shop-field">
          <%= form.label :start_dt, class:"required" %>
          <%= form.text_field :start_dt , class: "form-control", placeholder: "例:9:00 半角数字で入力してください" %>
        </div>

        <div class="new-shop-field">
          <%= form.label :end_dt, class:"required" %>
          <%= form.text_field :end_dt, class: "form-control", placeholder: "例:20:00 半角数字で入力してください" %>
        </div>

        <div class="new-shop-field">
          <%= form.label :detail %>
          <%= form.text_area :detail, class: "form-control" %>
        </div>

        <div class="new-shop-field">
          <%= form.label :url %>
          <%= form.text_area :url, class: "form-control" %>
        </div>

        <div class="new-shop-field">
          <%= form.label :contact_detail, class:"required" %>
          <%= form.text_field :contact_detail, placeholder: "ハイフンは入れずに半角数字で入力してください", class: "form-control" %>
        </div>

        <div class="new-shop-field">
          <%= form.label :image %>
          <%= image_tag(@shop.image.url) if @shop.image && @shop.image.url %>
          <%= form.file_field :image %>
          <%= form.hidden_field :image_cache %>
        </div>

        <br>
        <div class="actions">
          <%= form.submit %>
        </div>
        <% end %>
      </div>
    </div>
    <div class="col-md-2" ></div>
  </div>
</div>
<%= link_to '店一覧へ', shops_path %>
