<h1>Shops#index</h1>
<% @shops.each do |shop| %>
  <p>店舗名:<%= link_to shop.name, shop_path(shop.id) %></p>
  <p><%= shop.address %></p>
  <p>営業時間:<%= shop.start_dt%></p>
  <p>閉店時間:<%= shop.end_dt%></p>
<% end %>
<% if current_owner %>
<%= link_to '店舗を登録する', new_shop_path %><br>
<%= link_to '登録した店舗一覧へ', shop_owners_path %>
<% end %>
