<h1>Shops#index</h1>
<% @shops.each do |shop| %>
  <p>投稿者:<%= shop.user.name%></p>
  <p><%= shop.created_at.to_s(:datetime) %></p><br>
  <p>タイトル<br><%= link_to shop.brand, shop_path(shop.id) %></p><br>
  <p>内容<br><%= shop.detail %></p><br>
<% end %>
<% if current_owner %>
<%= link_to '店舗を登録する', new_shop_path %>
<% end %>
