<h1>新規店舗登録</h1>
<div class = "container">
  <div class="row col-md-8 col-md-offset-2 col-xs-10">
    <div class="card" id="new_shop_card">
      <%= form_with(model: @shop, local: true) do |form| %>
      <% if @shop.errors.any? %>
      <div class="alert alert-warning">
        <ul>
          <% @shop.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
      <% end %>

      <div class="field">
        <%= form.label :name %><br>
        <%= form.text_field :name, class: "form-control" %>
      </div>

      <div class="field">
        <%= form.label :brand %><br>
        <%= form.text_field :brand, class: "form-control" %>
      </div>

      <div class="field">
        <%= form.label :address %><br>
        <%= form.text_area :address, class: "form-control" %>
      </div>

      <div class="field">
        <%= form.label :start_dt %><br>
        <%= form.text_field :start_dt , class: "form-control", placeholder: "半角数字で9:00の様に記入してください" %>
      </div>

      <div class="field">
        <%= form.label :end_dt %><br>
        <%= form.text_field :end_dt, class: "form-control", placeholder: "半角数字で20:00の様に記入してください" %>
      </div>

      <div class="field">
        <%= form.label :detail %><br>
        <%= form.text_area :detail, class: "form-control" %>
      </div>

      <div class="field">
        <%= form.label :url %><br>
        <%= form.text_area :url, class: "form-control" %>
      </div>

      <div class="field">
        <%= form.label :contact_detail %><br>
        <%= form.text_field :contact_detail, class: "form-control" %>
      </div>
      <br>
      <div class="actions">
        <%= form.submit %>
      </div>
      <% end %>
    </div>
  </div>
</div>
<%= link_to '店一覧へ', shops_path %>
