<div class='container-fluid' id='show-container'>
  <p>
    <%= image_tag default_img(@shop.image.url) %>
  </p>
  <h1><%= "#{@shop.brand}" %></h1>
  <div class="star-rating" style='margin-left: auto; margin-right: auto;'>
    <div class="star-rating-front" style="width:<%= @shop.review_score_percentage %>%">★★★★★</div>
    <div class="star-rating-back">★★★★★</div>
  </div><br>
  <div class="review-score-display">
    <p>評価:<%= @shop.review_score_average %>点</p>
  </div>
  <p>店舗名:　<%= @shop.name %></p>
  <p>住所: <%= @shop.address %></p>
  <p>営業時間:<%= @shop.start_dt%></p>
  <p>閉店時間:<%= @shop.end_dt%></p>
  <p>詳細:<%= @shop.detail %></p>
  <p>url:<%= @shop.url %></p>
  <p>電話番号:<%= @shop.contact_detail %></p>

  <%= link_to 'クチコミ', shop_reviews_path(shop_id: @shop.id), class:"btn btn-primary" %><br></br>
  <%= link_to '店一覧へ', shops_path %>
</div>
