<h2><%= "#{@user.name}" %>さんのページ</h2>
<% if current_user.id == @user.id %>
  <p>メールアドレス: <%= @user.email %></p>
<% else %>
  <%= render 'users/follow_form', user: @user %><br>
<% end %>

<%= link_to 'クチコミ投稿履歴をみる', review_users_path(id: @user.id), class:"btn btn-primary" %>

<% if current_user.id == @user.id %>
<p><div class="container">
  <div class="row">
    <div class="col-md-6" >
      <div class="card">
        <h4>フォロー中</h4>
        <% @following.each do |following|%>
        <% if current_user.id == @user.id %>
        <p>Name: <%= link_to following.name, user_path(id: following.id) %></p>
        <% else %>
        <p>Name: <%= following.name %></p>
        <% end %>
        <% end %>
      </div>
    </div>
    <div class="col-md-6" >
      <div class="card">
        <h4>フォロワー</h4>
        <% @followers.each do |followers|%>
        <p>Name: <%= followers.name %></p>
        <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
