<%= form_with(model: @review, url: create_or_update, local: true) do |form| %>

<% if @review.errors.any? %>
  <div class="alert alert-warning">
    <ul>
      <% @review.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

  <div class="field">
    <%= form.label :content %><br>
    <%= form.text_area :content, style:"width:500px; resize: none; height:200px;"%>
  </div>

  <div class="field" id="star">
    <%= form.label :score, "星評価：" %>
    <%= form.hidden_field :score, id: :review_star %>
  </div>

  <script>
    $('#star').raty({
      size     : 36,
      starOff: '<%= asset_path('star-off.png') %>',
      starOn : '<%= asset_path('star-on.png') %>',
      starHalf: '<%= asset_path('star-half.png') %>',
      scoreName: 'review[score]',
      half: true,
      score: '<%= @review.score %>',
    });
  </script>

  <div class="actions">
    <%= form.submit "投稿する" %>
  </div>
<% end %>
