<%= form_with(model: @review, url: create_or_update, local: true) do |form| %>

<% if @review.errors.any? %>
  <div class="alert alert-warning">
    <ul>
      <% @review.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

  <div class="field">
    <%= form.label :content %><br>
    <%= form.text_area :content %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
