<%= form_with(model: @review, url: create_or_update, local: true) do |form| %>

<% if @review.errors.any? %>
  <div class="alert alert-warning">
    <ul>
      <% @review.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

  <div class="field">
    <%= form.label :content %><br>
    <%= form.text_area :content, style:"width:500px; resize: none; height:200px;"%>
  </div>

  <div class="evaluation">
    <%= form.radio_button :score, 5, id:"star5"%><label for="star5">★</label>
    <%= form.radio_button :score, 4, id:"star4"%><label for="star4">★</label>
    <%= form.radio_button :score, 3, id:"star3"%><label for="star3">★</label>
    <%= form.radio_button :score, 2, id:"star2"%><label for="star2">★</label>
    <%= form.radio_button :score, 1, id:"star1"%><label for="star1">★</label>
  </div>

  <div class="actions">
    <%= form.submit "投稿する" %>
  </div>
<% end %>
