<h2><%= link_to @shop.name, shop_path(@shop)%>のクチコミ一覧 </h2>
<% if current_user %>
  <%= link_to 'クチコミする', new_shop_review_path, class: 'btn btn-primary' %>
<% end %>
<div class = "container">
  <% @shop.reviews.each do |review| %><p>
    <div class = "card">
      <p>投稿者:<%= review.user.name %></p>
      <p><%= review.content %></p>

      <div id="star-rate-<%= review.id %>"></div>
       <script>
         // 繰り返し処理でもidをidを一意にできるようにnote_idを入れる
       $('#star-rate-<%= review.id %>').raty({
         size: 36,
         starOff:  '<%= asset_path('star-off.png') %>',
         starOn : '<%= asset_path('star-on.png') %>',
         starHalf: '<%= asset_path('star-half.png') %>',
         half: true,
         // 読み込みだけで入力できない
         readOnly: true,
         score: <%= review.score %>,
       });
       </script>

      <p>投稿時間:<%= l review.created_at, format: :long %></p>

      <form >
        <%= link_to '詳細表示', shop_review_path(@shop.id,review.id),class:"btn btn-outline-primary btn-sm" %>
        <% if user_signed_in? %>
          <% if current_user.id == review.user.id%>
            <%= link_to '編集する', edit_shop_review_path(@shop.id,review.id),class:"btn btn-outline-primary btn-sm"%>
            <%= link_to '削除する', shop_review_path(@shop.id,review.id), method: :delete, data: { confirm: '本当に編集していいですか？' },class:"btn btn-outline-primary btn-sm" %>
          <% end %>
        <% end %>
      </form>
    </div>
  <% end %>
</div>
