<div class='container' id='show-container'>
<h2>詳細画面</h2>
<% if owner_signed_in? && current_owner.id == @shop.owner.id %>
<%= render "blacklists/blacklist_form" %>
<% end %>


<% if user_signed_in? %>
投稿者: <%= link_to @review.user.name, user_path(@review.user.id) %>

<% unless current_user.id == @review.user.id %>
  <%= render 'users/follow_form', user: @review.user %>
<% end %>

<% else %>
<p>投稿者: <%= @review.user.name %></p>
<% end %>

<p>内容: <%= @review.content %></p>


<%= link_to 'クチコミ一覧へ', shop_reviews_path %>
</div>
