<div class='container' id='show-container'>
<h2>詳細画面</h2>
<% if owner_signed_in? && current_owner.id == @shop.owner.id %>
<% if @shop.blacklist_user(@review.user) %>
  <%= button_to "#{@review.user.name}さんをブラックリストから解除", blacklist_path(id:@review), method: :delete, data: { confirm: "#{@review.user.name}さんをブラックリストから解除しますか？" }, class:"button_blacklist"%>
<% else %>
  <%= button_to "#{@review.user.name}さんをブラックリストに入れる", blacklists_path(id:@review), method: :post, data: { confirm: "#{@review.user.name}さんをブラックリストに入れますか？" }, class:"button_unblacklist" %>
<% end %>
<% end %>

<% if user_signed_in? %>
投稿者: <%= link_to @review.user.name, user_path(@review.user.id) %>

<% unless current_user.id == @review.user.id %>
  <%= render 'users/follow_form', user: @review.user %>
<% end %>

<% else %>
<p>投稿者: <%= @review.user.name %></p>
<% end %>

<p>内容: <%= @review.content %></p>
</div>
<!-- このcomments_areaというHTMLのidを取得して、そのdivの部分だけを更新する -->

  <!-- コメント入力欄をブログの詳細ページに表示するためのrender -->
  <%= render partial: 'comments/form', locals: { comment: @comment, review: @review } %>
  <div id="comments_area">
    <!-- 投稿されたコメント一覧をブログの詳細ページに表示するためのrender -->
    <%= render partial: 'comments/index', locals: { comments: @comments, review: @review } %>
  </div>
</div>
